<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
    <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
     <header>
    
    </header>

    <main id="content" class="main-content" role="main" style="text-align:center">
      {{ content }}
      
      <!-- Load Stripe.js on your website. -->
      <script src="https://js.stripe.com/v3"></script>

      <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
      <button
        style="background-color:#159957;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        id="checkout-button-sku_F7DltKawDbH0u7"
        role="link"
      >
        Checkout
      </button>

<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_live_NqIRd2T2K9db9x9f2VPnQsyB');

  var checkoutButton = document.getElementById('checkout-button-sku_F7DltKawDbH0u7');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_F7DltKawDbH0u7', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://secretflavours.com/success',
      cancelUrl: 'http://secretflavours.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

      <footer class="site-footer">
        <img src="assets/images/logo_secret.png" style="
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        ">
        <span class="site-footer-credits" style="
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        ">
          made with love in London. Enabled by GitHub
        </span>
      </footer>
    </main>
  </body>
</html>
